<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.103.48" targetFramework="net461" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.101.75" targetFramework="net461" />
  <package id="AWSSDK.S3" version="3.3.104.36" targetFramework="net461" />
  <package id="EmailValidation" version="1.0.3" targetFramework="net461" />
  <package id="MoonPdfLib-x86" version="0.3.0" targetFramework="net461" />
  <package id="MouseKeyboardActivityMonitor" version="4.0.5150.10665" targetFramework="net461" />
  <package id="MuPDF.NET" version="1.0.2" targetFramework="net461" />
</packages>